body {
    background: url('/static/single_pages/images/back.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.margin-for-footer {
    margin-bottom: 130px;
}